<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">
  <xacro:macro name="transmission" params="name joint_name actuator_name">
    <transmission name ="{$name}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name ="${joint_name}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${actuator_name}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libros2_control_plugin.so">
      <robotNamespace>/arm</robotNamespace>
      <control_period>0.01</control_period>
    </plugin>
  </gazebo>
</robot>